@mixin column{
    display: flex;
    flex-direction: column;
    align-items: start;
}

@mixin text-label{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(102, 102, 102);
}

@mixin  item-input{
    width: 564px;
    padding: 16px;
    color: rgb(102, 102, 102);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
}


body{
    font-family: Noto Sans;
    background: rgb(196, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;


    // Text item


    .form{
        width: 760px;
        height: 1200px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 80px;

        .form__item__name{
            @include column;
            padding: 60px 98px 35px 98px;

            .form__item__name__label{
                @include text-label;
                padding-bottom: 8px;
            }

            .form__item__input__name{
                @include item-input;
                
                &:focus{
                    outline: none;
                    border: 2px solid rgb(122, 92, 250);
                    background: rgb(255, 255, 255);
                }
            }
        }



        .form__item__mail{
            @include column;
            padding: 0px 98px 35px 98px;

            .form__item__mail__label{
                @include text-label;
                padding-bottom: 8px;
            }

            .form__item__input__mail{
                @include item-input;

                &:focus{
                    outline: none;
                    border: 2px solid rgb(122, 92, 250);
                    background: rgb(255, 255, 255);
                }
            }
        }


        
        .form__item__pas{
            @include column;
            padding: 0px 98px 35px 98px;

            .form__item__pas__label{
                @include text-label;
                padding-bottom: 8px;
            }

            .form__item__input__pas{
                @include item-input;

                &:focus{
                    outline: none;
                    border: 2px solid rgb(122, 92, 250);
                    background: rgb(255, 255, 255);
                }
            }

            .form__item__pas__par{
                color: rgb(102, 102, 102);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                padding-top: 8px;
            }
        }
    }


    // Checkbox


    .check__block{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 0px 98px 35px 98px;

        .check__block__item{
            display: none;
        }

        .fake__box{
            display: block;
            position: relative;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            border: 1px solid rgb(204, 204, 204);
            background: rgb(255, 255, 255);  
            
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 22px;
                height: 22px;
                border-radius: 8px;
                background: rgb(122, 92, 250);
                opacity: 0;
                transition: .2s;
            }
        }

        .check__block__item:checked + .fake__box::before{
            opacity: 1;
        }

        .check__text{
            padding-left: 8px;
            color: rgb(102, 102, 102);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    








    .container{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 98px 35px 98px;
}

.button{
    background: rgb(122, 92, 250);
    width: 49px;
    height: 24px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border: 1px solid rgb(204, 204, 204);

    &::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 200px;
        margin: 3px;
        background-color: white;
        transition: 0.2s;
    }
}

.tog__par{
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 0 10px;
}

.tog:checked + .button{
    background: rgb(196, 183, 255);
}

.tog:checked +.button::before{
    transform: translateX(25px);
}
    
.tog{
    display: none;
}


.radio{
    display: none;
}

.fake{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 10px;
        height:10px;
        background: green;
        opacity: 0;
        transition: .2s;
        border-radius: 50%;
    }
}

.radio:checked + .fake::before{
    opacity: 1;
}

}

